# Directories to ignore
node_modules
npm-debug.log
.circleci
coverage
tests
client

# Files to ignore
.babelrc
.eslintrc.json
.gitignore
.nvmrc
.prettierrc
jest.config.js
README.md
seed.js
STYLE-GUIDE.md
webpack.config.js